<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stytles/main.css">
    <title>BlogMaker</title>
</head>
<body>
    <%- include("partials/header.ejs") %>

    <a class="nav-link" href="/create">Submit a blog entry</a>
    <% if (locals.listOfEntries) { %>
        <% listOfEntries.forEach(element => { %>
            <ul><li><%= element %></li></ul> 
        <% }) %>
    
     
    <% } %>


    <%- include("partials/footer.ejs") %>
</body>
</html>

